


.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

/*-----------------------HEADER------------------------*/
.dropdown-menu[data-bs-popper] {
    left: -310%;
}


/*------------------------MAIN-------------------------*/


.card {
/*    border: none;*/
}

.free {
    color: green;
}

/*.modal-dialog {
    max-width: 60%; 
}*/

/*-----------------------FOOTER------------------------*/

.footer {
    margin-top: auto;
}

.social-link, .oferta-link {
    text-decoration: none;
    color: rgba(0,0,0,.55);
    transition: color .15s ease-in-out;
}

.social-link:hover, .oferta-link:hover {
    color: var(--bs-gray-dark);
}

.social-link {
    font-size: 2rem;
}