body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fefae0;
}

/*-----------------------HEADER------------------------*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d4a373;
    animation-name: header-fix;
    animation-duration: 1s;
}

@keyframes header-fix {
    0% {
        opacity: 0;
        top: -100px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-link {
    font-weight: 700;
    color: #495057;
}

.nav-link:hover {
    color: #ffc107;
}

/*user modal window*/
.modal-content {
    background-color: #fefae0;
}

/*------------------------MAIN-------------------------*/

.about {
    width: 100%;
    height: 100vh;
    min-height: 820px;
    background: linear-gradient(to bottom, rgba(37, 9, 2, 0.7), rgba(37, 9, 2, 0.4)), 
     url('../img/vs-bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}

.about__title {
    font-size: 75px;
    font-weight: 700;
    padding: 20px 0;
}

.about__text {
    padding: 10px 0;
    font-size: 25px;
}

.about__button {
    max-width: 250px;
}

.me__text {
    font-size: 20px;
}

.card {
/*    border: none;*/
 background-color: #fefae0;
 position: relative;
 transition: transform 0.2s linear;
}

.card:hover {
    transform: translate3d(-2px, -2px, 0px);
}

.card-img {
    transition: opacity 0.2s linear;
}

.card-img:hover {
    opacity: 0.5;
}

.gallery__img-link {
    position: relative;
    transition: opacity 0.2s linear, transform 0.2s linear;
}

.gallery__img-link:hover {
    opacity: 0.5;
    transform: translate3d(-2px, -2px, 0px);
}

.free {
    color: green;
}

.carousel-img {
    max-height: 450px;
}

.modal-dialog {
    max-width: 900px;
}

/*-----------------------FOOTER------------------------*/

.footer {
    margin-top: auto;
    background-color: #fefae0;
    border-top: 1px solid rgba(0,0,0,.125);
}

.social-link, .oferta-link {
    text-decoration: none;
    color: rgba(0,0,0,.55);
    transition: color .15s ease-in-out;
}

.social-link:hover, .oferta-link:hover {
    color: var(--bs-gray-dark);
}

.social-link {
    font-size: 2rem;
}

/*---------------------------media--------------------------------*/

@media(max-width: 992px) {
    .navbar-nav {
        background-color: #d4a373;
        text-align: center;
        padding: 30px 0;
        border-radius: 0.25rem;
    }

    .about {
        min-height: 650px;
    }

    .about__title {
        font-size: 60px;
    }

    .about__text {
        font-size: 22px;
    }
}

@media(max-width: 768px) {
    .about__title {
        font-size: 50px;
    }

    .about__text {
        font-size: 20px;
    }

    .me__text {
        font-size: 1rem;
    }
}

@media(max-width: 575px) {
    .about__title {
        font-size: 35px;
    }

    .about__text {
        font-size: 18px;
    }

    .nav-tabs .nav-link {
        font-size: 12px;
    }

    .col {
        max-width: 400px;
        margin: var(--bs-gutter-y) auto 0 auto;
    }
}